Project 1 - Predict Car Purchasing Amount.pptx
output.png
.ipynb_checkpoints/Project 1 - Car Purchase Amount Predictions Using ANNs-checkpoint.ipynb
Project 1 - Car Purchase Amount Predictions Using ANNs.ipynb
